@charset "utf-8";
/* CSS Document */
/*测评报告内容开始*/
.branchResult{ padding-top: 0.4rem;}

    /*测评报告内容头部开始*/
.branchResult .br-hd{ text-align: center; height: 1.32rem; line-height: 1.32rem;width:12.8rem;background-image:url(../img/result-hd.png); background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff; font-size: 0.48rem;}

    /*测评报告内容头部结束*/
    /*测评报告详情内容开始*/
        /*测评报告详情内容一楼开始*/
.br-mn-tt{height: 0.92rem; line-height: 0.72rem;width:12rem; background-image:url(../img/result-tt.png); background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff; font-size: 0.48rem; margin-top: 0.4rem; padding-left: 0.8rem;}
.br-mn-fl1 .result-hd{ color: #fff; font-size: 0.44rem; background-color: #f19149; width: 11.6rem; height: 1.0rem; line-height: 1.0rem; margin-left: auto; margin-right: auto; border-radius:  0.5rem; padding-left: 0.5rem;margin-top: 0.2rem;}
.score-hd{ width: 11.6rem; margin-left: auto; margin-right: auto; height:1.0rem; position: relative;  overflow: hidden;}
.score-hd .line{ height:0.2rem; display:block;background-image:url(../img/result-line.png); background-size: cover; background-position: center; background-repeat: no-repeat; margin-top: 0.4rem; }
.score-hd .hd-name{ width: 6rem; position: absolute; top: 0; left: 2.8rem; height: 1.0rem; background-color: #fff; line-height: 1.0rem;  text-align: center;}
            /*维度得分图*/
.dimension{ padding-left: 0.6rem; padding-right: 0.6rem; margin-top:0.4rem;}
.dimension .dimension-f1{ margin-bottom: 0.4rem;} 
.dimension-l span,.dimension-r span{ display:block; background-color: #2fbbd6; border-radius: 0.24rem 0 0 0.24rem; padding-left: 0.4rem; height:0.6rem; line-height: 0.6rem;}
.dimension-m{ background-color:#66ccff; margin-left: 0.2rem;margin-right: 0.2rem; height:0.6rem;} 
.dimension-m span{ display:block; width: 0%; background-color: #26c569; text-align: center; height: 0.6rem; color:#fff; line-height: 0.6rem;} 
        /*测评报告详情内容一楼结束*/ 
        /*测评报告详情内容二楼开始*/
.interest-hd{ padding-left: 0.8rem; color: #2fbbd6;font-size: 0.48rem;}
.interest-chart{ text-align: center; margin-top: 0.4rem; line-height: 0.8rem; }
.chart-hd{ background-color: #2fbbd6; color: #fff;}
.chart-hd-m,.chart-mn-m{ border-left: 1px solid #ccc; border-right: 1px solid #ccc; box-sizing: border-box;}
.chart-mn-l,.chart-mn-m,.chart-mn-r{ border-bottom: 1px solid #ccc; height:0.8rem;box-sizing: border-box;}
        /*测评报告详情内容二楼结束*/
        /*测评报告详情内容三楼开始*/
.report{ padding-left: 0.8rem; padding-right: 0.8rem; background-color: #b6f4ff;  padding-bottom: 0.2rem;  margin-top: 0.4rem; overflow: hidden;}
.report-hd{ font-size: 0.48rem; margin-top: 0.2rem;}
.major-list span{ display: inline-block; padding-right: 0.4rem; line-height: 0.8rem;padding-top: 0.2rem;}
.major-list span a{ display: inline-block; padding-right: 0.2rem;padding-left: 0.2rem; white-space: nowrap; line-height: 0.8rem; border-radius: 0.1rem; border: 1px solid #2fbbd6;}
        /*测评报告详情内容三楼结束*/
    /*测评报告详情内容结束*/














/*测评报告内容结束*/

