@charset "utf-8";
/* CSS Document */
/*测评报告内容开始*/
.branchResult{ padding-top: 0.4rem;}

    /*测评报告内容头部开始*/
.branchResult .br-hd{ text-align: center; height: 1.32rem; line-height: 1.32rem;width:12.8rem;background-image:url(../img/result-hd.png); background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff; font-size: 0.48rem;}

    /*测评报告内容头部结束*/
    /*测评报告详情内容开始*/
        /*测评报告详情内容一楼开始*/
.br-mn-tt{height: 0.92rem; line-height: 0.72rem;width:12rem; background-image:url(../img/result-tt.png); background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff; font-size: 0.48rem; margin-top: 0.4rem; padding-left: 0.8rem;}
.br-mn-fl1 .result-hd{ color: #fff; font-size: 0.44rem; background-color: #f19149; width: 11.6rem; height: 1.0rem; line-height: 1.0rem; margin-left: auto; margin-right: auto; border-radius:  0.5rem; padding-left: 0.5rem;margin-top: 0.2rem;}
.score-hd{ width: 11.6rem; margin-left: auto; margin-right: auto; height:1.0rem; position: relative;  overflow: hidden;}
.score-hd .line{ height:0.2rem; display:block;background-image:url(../img/result-line.png); background-size: cover; background-position: center; background-repeat: no-repeat; margin-top: 0.4rem; }
.score-hd .hd-name{ width: 6rem; position: absolute; top: 0; left: 2.8rem; height: 1.0rem; background-color: #fff; line-height: 1.0rem;  text-align: center;}
            /*维度得分图*/
.dimension{ padding-left: 0.6rem; padding-right: 0.6rem;}
.dimension .dimension-f1{ margin-bottom: 0.4rem;} 
.dimension-l span,.dimension-r span{ display:block; background-color: #2fbbd6; border-radius: 0.24rem 0 0 0.24rem; padding-left: 0.4rem; height:0.6rem; line-height: 0.6rem;}
.dimension-m{ background-color:#66ccff; margin-left: 0.2rem;margin-right: 0.2rem; height:0.6rem;} 
.dimension-m span{ display:block; width: 0; background-color: #26c569; color:#fff; height: 0.6rem; line-height: 0.6rem; text-align: center;} 
            /*注释*/
.dimension .notes{ margin-bottom: 0.2rem;}
.dimension .notes-l{ color: #27b4c9;} 
.dimension .notes-r{background-color: #1cbcde; padding-left: 0.2rem;}
        /*测评报告详情内容一楼结束*/ 
        /*测评报告详情内容二楼开始*/
.br-mn-f2 .character{ padding-left: 0.8rem; padding-right: 0.8rem; padding-top: 0.4rem; line-height: 0.6rem;} 
.br-mn-f2 .advantage{margin-left: 0.6rem; margin-right: 0.6rem;  line-height: 0.8rem; margin-top: 0.4rem; background-color: #66ccff;padding-left: 0.2rem; padding-right: 0.2rem;}
.br-mn-f2  .defect{ background-color:#F7A99D;}
        /*测评报告详情内容二楼结束*/ 
        /*测评报告详情内容三楼开始*/
.mn-f3-hd{ margin-top: 0.2rem; margin-left: 0.6rem; margin-right: 0.6rem;  border-radius: 0.2rem; background-color: #f19149; color:#fff; padding-left: 0.2rem; padding-right: 0.2rem; line-height: 0.8rem;}
.occupation{ margin-left: 0.6rem; margin-right: 0.6rem;border: 1px solid #2fbbd6; border-radius: 0.1rem;margin-top: 0.2rem;}
.occupation-hd-l{ background-color: #2fbbd6; padding:0.3rem; color: #fff; font-size: 0.6rem;box-sizing: border-box; display:flex;-webkit-box-align: center;  -moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center; align-items: center;   display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; text-align: center;}
.occupation-hd-r{ padding-left: 0.2rem;padding:0.3rem;box-sizing: border-box;}
.occupation-list{ margin-left: 0.6rem; margin-right: 0.6rem; margin-top: 0.4rem;}
.occupation-list-f1{ border: 1px solid #000; text-align: center; color:#fff; line-height: 0.8rem;height:0.8rem;}
.occupation-list-f1 .list-f1-l{ background-color: #66ccff; border-right: 1px solid #000;box-sizing: border-box;}
.occupation-list-f1 .list-f1-r{ background-color: #66ccff;}
.occupation-list-f2{ border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000;}
.occupation-list-f2 .list-f2-l{ padding:0.2rem;border-right: 1px solid #000; box-sizing: border-box; display:flex;-webkit-box-align: center;  -moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center; align-items: center;   display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;-webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center;justify-content: center;}
.occupation-list-f2 .list-f2-r{box-sizing: border-box; padding:0.2rem;}
.marjor-detail .md-hd{ width: 4.0rem; height: 0.8rem; line-height: 0.8rem; background-color: #2fbbd6; color:#fff; text-align: center; margin-left: auto; margin-right: auto; border-radius: 0.1rem;margin-bottom: 0.4rem; margin-top: 0.4rem;}
.marjor-detail .md-mn{ margin-left: 0.6rem; margin-right: 0.6rem;}
.marjor-detail .md-mn span{ display: inline-block; padding-right: 0.4rem; line-height: 0.8rem;padding-top: 0.2rem;}
.marjor-detail .md-mn span a{ display: inline-block; padding-right: 0.2rem;padding-left: 0.2rem; white-space: nowrap; line-height: 0.8rem; border-radius: 0.1rem; border: 1px solid #2fbbd6;}
        /*测评报告详情内容三楼结束*/
    /*测评报告详情内容结束*/














/*测评报告内容结束*/

