@charset "utf-8";
/* CSS Document */
.findword-f1{ width:12.8rem; height: 5.2rem;}
.findword-f2{ width:12.8rem; height: 3.68rem;}
.findword-f3{ width:12.8rem; height: 8.66rem;}
.findword-f4{ width:12.8rem; height: 8.7rem;}
.findword-f5{ width:12.8rem; height: 12.3rem;}
.findword-f6{ width:12.8rem; height: 8.46rem;}
.findword-f7{ width:12.8rem; height: 6.0rem;}
.findword-f8{ width:12.8rem; height: 11.08rem;}
.findword-f9{ width:12.8rem; height: 13.56rem;}







