@charset "utf-8";
/* CSS Document */
html,body{ height: 100%; }
.wrap{ overflow-y: auto;}
/*账号激历史活*/
.registerhistory{ padding-left: 0.2rem; padding-right: 0.2rem;}
.registerhistory .sh-chart-hd{ background-color: #fff;padding-left: 0.2rem; height:1rem; line-height: 1rem; box-sizing: border-box;border-top: 1px solid #ccc;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;} 



