@charset "utf-8";
/* CSS Document */
html,body{ height: 100%;}
/*进入系统前提示开始*/
.main{ overflow-y: auto;}
.header{ text-align: center;line-height: 1.6rem;font-size: 0.88rem;font-weight: normal;position: static;width:100%;}
.main-hd{ font-weight: 700; text-align: center; font-size: 1rem; line-height: 2rem;}
.qq li{ padding-top: 0.4rem; padding-bottom: 0.4rem; text-align: center;}
.qq li a{ display:block; margin-left:auto; margin-right:auto;background: #2fbbd6;color: #fff;border-radius: 0.1rem;font-size: 0.6rem; line-height: 1.4rem;width:8rem;}
.enter{ padding-top:0.4rem; padding-left: 0.6rem; padding-right:0.6rem;}
.enter a{ display:block;background-color: #fc5633;margin-left:auto; margin-right:auto; text-align: center;font-size: 0.6rem;line-height: 1.2rem; color:#fff; border-radius: 0.1rem;}
.notice{ text-align: center; font-size: 0.6rem; font-weight: 700;padding-left: 0.4rem;padding-right: 0.4rem;}
.living{padding-left: 0.4rem;padding-right: 0.4rem; text-align: center;line-height: 1rem;}
.living-hd{ text-align: center;font-size: 0.6rem; font-weight: 700;line-height: 2rem;}
.chart-mn{ border-top: 1px solid #666; border-left:  1px solid #666;border-right: 1px solid #666;}
.borderB{border-bottom: 1px solid #666;}
.borderL{ border-left:  1px solid #666;}
.bgcB{background-color: #b3b3ff;}
.bgcP{ background-color: pink;}
/*进入系统前提示结束*/
