@charset "utf-8";
/* CSS Document */
html,body{ height: 100%; }
.wrap{ overflow-y: auto;}
.voluntary-tip{  text-align: center;font-size: 1rem; padding: 0 0.6rem;}
.voluntary-tip h4{ color: red;}
.voluntary-tip p{ text-indent: 2em; text-align: left;}




