
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1471239346'); /* IE9*/
  src: url('iconfont.eot?t=1471239346#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1471239346') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1471239346') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1471239346#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before { content: "\e604"; }
.icon-QQ:before { content: "\e605"; }
.icon-shijian:before { content: "\e60b"; }
.icon-unie61d:before { content: "\e606"; }
.icon-diannao:before { content: "\e600"; }
.icon-bamayou:before { content: "\e602"; }
.icon-card:before { content: "\e601"; }
.icon-liulan:before { content: "\e60a"; }
.icon-zhanghao:before { content: "\e607"; }
.icon-jiantou:before { content: "\e60c"; }
.icon-dongtai:before { content: "\e60d"; }
.icon-jiantou1:before { content: "\e611"; }
.icon-chacha:before { content: "\e614"; }
.icon-daxue:before { content: "\e60e"; }
.icon-jiantou-copy:before { content: "\e613"; }
.icon-x-mpg:before { content: "\e609"; }
.icon-tel:before { content: "\e603"; }
.icon-jiantou2:before { content: "\e615"; }
.icon-jiantou-copy1:before { content: "\e616"; }
.icon-shuangjiantou:before { content: "\e617"; }
.icon-mima:before { content: "\e608"; }
.icon-laoshi:before { content: "\e60f"; }
.icon-xiazai:before { content: "\e610"; }
.icon-angle-up:before { content: "\e618"; }
.icon-angle-down:before { content: "\e619"; }
.icon-shangjiantou:before { content: "\e61a"; }
.icon-arrow-b:before { content: "\e61b"; }
.icon-t-arrow2:before { content: "\e61c"; }
.icon-nansheng:before { content: "\e612"; }
.icon-angle-down1:before { content: "\e61d"; }
.icon-jiantou-copy2:before { content: "\e61e"; }
.icon-jiantou-copy-copy-copy:before { content: "\e61f"; }
