<!--焦点图开始-->
    <section class="slider">
        <ul>
            <li><a href="https://github.com/lydxwj/youtoAPP" target="_blank"><img src="img/banner4.jpg" height="520" width="1920" alt="APP项目" /></a></li>
            <li><a href="photoshop.html"><img src="img/banner1.jpg" height="520" width="1920" alt="ps作品" /></a></li>
            <li><a href="project.html"><img src="img/banner2.jpg" height="520" width="1920" alt="项目案例" /></a></li>
            <li><a href="special.html"><img src="img/banner3.jpg" height="520" width="1920" alt="页面特效" /></a></li>
        </ul>
        <ol>
            <li class="current"></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <a href="javascript:;" class="prev"></a>
        <a href="javascript:;" class="next"></a>
    </section>
    <!--焦点图结束-->
    <!--项目经验开始-->
    <section class="project">        
        <div class="wrap">
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">项目经验</span>
            </div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">公司名称：</span>
                        <span class="project-mn-text">山东联荷网络科技有限公司</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">部门：</span>
                        <span class="project-mn-text">技术部</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">时间：</span>
                        <span class="project-mn-text">2014年11月至2016年3月</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">主要职责：</span>
                        <span class="project-mn-text">web前端开发工程师</span>
                    </div>   
                </div> 
            </div>
            <div class="project-ft">
                <div class="project-text">
                    <span class="project-mn-title">项目描述：</span>
                    <span class="project-mn-text">对网站进行页面重构，并将其优化，用jQuery实现用户交互体验，尽量兼容所有浏览器</span>
                </div> 
                <div class="project-text">
                    <span class="project-mn-title">职责描述：</span>
                    <span class="project-mn-text">参与项目的代码编写及优化，并提出自己的看法以及协同后台人员进行数据交互以及功能实现</span>
                </div> 
            </div>
            <div class="line"></div>
            <div class="project-mn  clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">公司名称：</span>
                        <span class="project-mn-text">广东元慧软件科技有限公司</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">部门：</span>
                        <span class="project-mn-text">技术部</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">时间：</span>
                        <span class="project-mn-text">2016年4月2017年6月</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">主要职责：</span>
                        <span class="project-mn-text">用户体验组主管</span>
                    </div>   
                </div> 
            </div>
            <div class="project-ft">
                <div class="project-text">
                    <span class="project-mn-title">项目描述：</span>
                    <span class="project-mn-text">PC网站页面兼容调整、改版优化，交互体验优化，手机网站开发上线以及优化改版，SEO优化，APP开发制作</span>
                </div> 
                <div class="project-text">
                    <span class="project-mn-title">职责描述：</span>
                    <span class="project-mn-text">对公司PC网站进行页面优化、网站改版，尽量兼容所有浏览器，优化用户体验，配合功能实现，测试功能等；自己完成手机版所有页面重构，添加交互效果，与后台协同实现功能；百度推广后台操作，网站SEO优化调整</span>
                </div>
                <div class="project-text">
                    <span class="project-mn-title">项目地址：</span>
                    <span class="project-mn-text"><a href="ytogb/index.html" target="_blank">PC改版初稿lydxwj.com/ytogb</a>&nbsp;&nbsp;<a href="http://www.ytowin.com" target="_blank">线上地址ytowin.com</a>&nbsp;&nbsp;<a href="http://m.ytowin.com/" target="_blank">线上地址m.ytowin.com/</a></span>
                </div> 
            </div>
        </div>        
    </section>
    <!--项目经验结束-->
    <!-- 实践经验开始 -->
    <section class="project practice">        
        <div class="wrap">
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">实践经验</span>
            </div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">项目名称：</span>
                        <span class="project-mn-text">优途APP</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目描述：</span>
                        <span class="project-mn-text">混合式APP开发，运用mui、vue等技术</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">职责描述：</span>
                        <span class="project-mn-text">主导项目进展，进行项目代码编写，对项目进行测试</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目地址：</span>
                        <span class="project-mn-text"><a href="https://github.com/lydxwj/youtoAPP" target="_blank">github</a></span>
                    </div>   
                </div> 
            </div>
            <div class="line"></div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">项目名称：</span>
                        <span class="project-mn-text">模仿千驹堂</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目描述：</span>
                        <span class="project-mn-text">响应式移动网站，对网站进行页面重构</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">职责描述：</span>
                        <span class="project-mn-text">项目代码编写，主要负责页面重构，实现响应式网站</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目地址：</span>
                        <span class="project-mn-text"><a href="http://lydxwj.com/mqjt" target="_blank">lydxwj.com/mqjt</a></span>
                    </div>   
                </div> 
            </div>
            <div class="line"></div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">项目名称：</span>
                        <span class="project-mn-text">模仿吾伴你婚纱礼服网</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目描述：</span>
                        <span class="project-mn-text">响应式移动网站，对网站进行页面重构</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">职责描述：</span>
                        <span class="project-mn-text">项目代码编写，主要负责页面重构，实现响应式网站</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目地址：</span>
                        <span class="project-mn-text"><a href="http://lydxwj.com/mwbn" target="_blank">lydxwj.com/mwbn</a></span>
                    </div>   
                </div> 
            </div>
            <div class="line"></div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">项目名称：</span>
                        <span class="project-mn-text">模仿昆山企业网</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目描述：</span>
                        <span class="project-mn-text">对网站进行页面重构，多加动态和互动效果</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">职责描述：</span>
                        <span class="project-mn-text">项目代码编写，主要负责页面重构，并将网站优化</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目地址：</span>
                        <span class="project-mn-text"><a href="http://lydxwj.com/ks" target="_blank">lydxwj.com/ks</a></span>
                    </div>   
                </div> 
            </div>
        </div>       
    </section>
    <!-- 实践经验结束 -->
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/index.js"></script>