<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的地盘--更多特效</title>
    <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="web前端开发工程师,前端开发工程师,前端开发,lydxwj.com">
    <meta name="description" content="一个菜鸟级别的前端开发制作的网站，仅供参考，有宝贵意见请加我微信交流">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/special.css" />
    <link rel="stylesheet" type="text/css" href="css/more.css" />
    <link rel="stylesheet" type="text/css" href="css/pace-theme-flash.css" />
    <script type="text/javascript" src="js/pace.min.js"></script>
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/spin.js"></script>
    <script type="text/javascript" src="js/more.js"></script>
</head>
<body>
    <!-- 头部开始 -->
    <header class="header">
        <div class="wrap">
        	<h1 class="logo fl"></h1>
            <div class="header-mn fl"></div>
            <span class="fr">If you want me, please contact me.</span>
        </div>
    </header>
    <!-- 头部结束 -->
    <!-- 导航开始 -->
    <nav class="nav">
        <div class="wrap nav-box">
            <div class="nav-hover">
            </div>
            <ul class="nav-menu fl">
                <li class="tab"><a class="tab-list" href="http://lydxwj.com/">首页</a></li>
                <li class="tab"><a class="tab-list" href="brief.html">简介</a></li>
                <li class="tab">
                    <a class="tab-list" href="project.html">项目案例</a>
                    <ul class="list-two">
                        <li><a href="https://github.com/lydxwj/youtoAPP" target="_blank">优途APP</a></li>
                        <li><a href="ytowin/index.html" target="_blank">优途教育</a></li>
                        <li><a href="mqjt/index.html" target="_blank">千驹堂</a></li>
                        <li><a href="mwbn/index.html" target="_blank">吾伴你</a></li>
                        <li><a href="ks/index.html" target="_blank">昆山企业</a></li>  
                    </ul>
                </li>
                <li class="tab">
                    <a class="tab-list ps" href="photoshop.html">PS作品</a>
                    <ul class="list-two ps">
                        <li><a href="firecar.html">火焰赛车</a></li>
                        <li><a href="Transformers.html">变形金刚</a></li>
                        <li><a href="makeup.html">化妆品</a></li>
                    </ul>
                </li>
                <li class="tab">
                    <a class="tab-list on" href="special.html">页面特效</a>
                    <ul class="list-two">
                        <li><a href="banner.html">焦点图</a></li>
                        <li><a href="scroll.html">滚动</a></li>
                        <li><a href="show.html">展示</a></li>
                        <li><a href="more.html">更多</a></li>
                    </ul>
                </li>
                <li class="tab contact-me">
                    <a class="tab-list" href="javascript:;">联系我</a>
                    <ul class="list-two contacts">
                        <li class="email">
                            <a href="mailto:lydxwj@163.com" title="点击给我发邮件">Email
                            <span class="emailnum num">lydxwj@163.com</span></a>
                        </li>
                        <li class="phone">
                            <a href="javascript:;" title="复制号码">电话
                            <span class="phonenum num">18205488652</span>
                            </a>                            
                        </li>
                        <li class="weixn">
                            <a href="javascript:;" title="扫一扫">微信
                            <span class="weixinnum num"></span>
                            </a>    
                        </li>
                        <li class="qq">
                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=781391239&site=qq&menu=yes" title="点击这里给我发消息">QQ
                            	<span class="qqnum num"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <input type="hidden" class="h-width" value="120" />
    	<input type="hidden" class="h-left" value="386" />
    </nav>
    <!-- 导航结束 -->
    <!--页面特效开始-->
    <section class="wrap">
        <div class="special1 more">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" >扫光</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="light">
                    <img src="img/jd.jpg" height="475" width="330" alt="" />        
                </div>                
            </div>
        </div>
        <div class="special1 special2">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;"  >音乐盒子</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <span class="mbtn1" >播放</span>
                <span class="mbtn2" >暂停</span>
                <ul class="music">
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                </ul>
                <audio class="mp3" src="img/music.mp3"></audio>               
            </div>
        </div>
        <div class="special1 more3">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" >视频控制</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <span class="pbtn">播放</span>
                <span class="pbtn">停止</span>
                <span class="pbtn">快进</span>
                <span class="pbtn">快退</span>
                <span class="pbtn">加速</span>
                <span class="pbtn">减速</span>
                <span class="pbtn">正常</span>
                <span class="pbtn">静音</span>
                <span class="pbtn">+</span>
                <span class="pbtn">-</span>
                <video class="mp4" src="img/movie.mp4" controls></video>                
            </div>
        </div>
        <div class="clearfix">
            <div class="special1 fl  more4">
                <div class="spe1-hd ">
                    <a class="animated" href="javascript:;"  >加载</a>
                </div>
                <div class="spe-line"></div>
                <div class="spe-mn">
                <div id="secondDiv">
                        <span id="btnRequest" class="btnStyle" >加载</span>
                        <span id="btnStop" class="btnStyle" >关闭</span>
                    </div>
                    <div id="firstDiv"></div>
                </div>      
            </div>
            <div class="special1 fr more4">
                <div class="spe1-hd ">
                    <a class="animated" href="javascript:;" >钱包</a>
                </div>
                <div class="spe-line"></div>
                <div class="spe-mn">            
                    <div class="bdmoney"></div>
                </div>      
            </div>
        </div>
    </section>       
    <!-- 页面特效结束 -->
    <!--版权开始-->
    <footer class="footer">
        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_more" data-cmd="more"></a><a class="bds_count" data-cmd="count"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>   
        <p>本网站属个人所有，不做商用</p>
        <p>&copy; 2015-2016 lydxwj.com</p>
        <p><a href="http://tongji.baidu.com/web/welcome/ico?s=da0e52301fbb97226aaa363f6ee1eff0" target="_blank">百度统计</a></p>
        <p><a href="http://webscan.360.cn/index/checkwebsite/url/lydxwj.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/b7ec024511cd48c55dd379116f951f3f"/></a><a id="jsl_speed_stat0" href="http://www.yunaq.com/" target="_blank">知道创宇云安全</a><script src="//static.yunaq.com/static/js/stat/picture_stat.js" charset="utf-8" type="text/javascript"></script></p>
    </footer> 
    <!--版权结束-->
    <!-- 回到顶部 -->
    <div class="toTop"></div>
</body>
</html>
