
    
<!--简介基本开始-->
    <section class="project brief">        
        <div class="wrap">
            <div class="hd-tt">李勇达</div>
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">基本信息</span>
            </div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">学历：</span>
                        <span class="project-mn-text">泰山学院 本科</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">电话：</span>
                        <span class="project-mn-text">18205488652</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">技能：</span>
                        <span class="project-mn-text">英语四级，驾照C1</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">年龄：</span>
                        <span class="project-mn-text">26</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">电子邮箱：</span>
                        <span class="project-mn-text">lydxwj@163.com</span>
                    </div>   
                    <div class="project-text">
                        <span class="project-mn-title">求职意向：</span>
                        <span class="project-mn-text">web前端开发工程师</span>
                    </div> 
                </div> 
            </div>
        </div>
    </section>
    <!-- 简介基本结束 -->
    <!-- 简介技能开始 -->
    <section class="project">        
        <div class="wrap">
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">技能专长</span>
            </div>
            <div class="expertise">
                <p>运用ReactNative技术开发原生APP并进行打包，运用mui+Hbulider,vue，APICloud,Ionic等技术开发混合式APP并进行打包，开发微信小程序</p>
                <p>运用H5、原生javascript、jQ、zepto、angular、vue、bootstrap等技术开发响应式PC、移动网站以及单页应用。</p>
                <p>通过git进行版本控制，运用node进行简单后台搭建，操作文件、操作数据库、发送请求，以及Express应用,了解PHP。</p>
                <p>对于面向对象开发有进一步了解，跨域请求实现原理，框架封装分模块开发Canvas绘图。</p>
                <p>Canvas进行简单图形绘制</p>
                <p>gulp、webpack等进行混淆、压缩打包</p>
                <p>精通div+css网页布局与样式，对html语义化有深刻的理解</p>
                <p>深刻理解web标准，对可复用性、可访问性等相关知识有实际的了解和实践经验</p>
                <p>熟练掌握各浏览器间的差异，能快速定位、解决浏览器ie6兼容性问题</p>
                <p>具备良好的编程风格，代码简洁整齐，能熟练编写符合W3C标准的高效率代码</p>
                <p>熟悉Sublime、Hbulider、VS、apicloud-studio-2、微信web开发者工具、Photoshop、Firework、flash等知识</p>
                <p>搜索引擎优化、百度推广管理以及后台操作</p>        
            </div>
        </div>         
    </section>
    <!--简介技能结束-->
    <section class="project">        
        <div class="wrap">
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">自我评价</span>
            </div>
            <div class="expert">
                <p>本人爱好打乒乓球、排球，热爱web前端开发工作，对其有很大的热情，做项目会忘记时间，忘记吃饭，遇到问题会一直想办法解决，不然心里一直难受，希望一直从事，良好沟通能力，待人真诚，有很好的团队合作能力。</p>
                <p>我认为自己的优势是做事认真踏实，富有责任心，能吃苦耐劳。我愿意为公司发展出一份力，不断进步，在这个过程中去晋升加薪。</p>                          
            </div>
        </div>         
    </section>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/brief.css" />
    <script type="text/javascript" src="js/brief.js"></script>